<div class="jumbotron pb-0" style="background-color: #fff; ">
    <h1 class="mt-5">Vibe Check</h1>
</div>

<div class="container mb-5">

    <div class="row align-items-center mb-4">

        <div class="col mx-auto align-self-center text-center">
            <img class="img-thumbnail img-fluid " style="max-width: 30%;  height: auto;" src="assets/chuck.jpg" alt="chuck">
        </div>
    </div>
    <div class="row">

        <div class="col ">
            <div>
                <form>
                    <div class="form-group">


                        <label class="h4" for="description">
                            <p>
                                It is told that Chuck Norris came in contact with the
                                Coronavirus...
                            </p>
                            <p>
                                Needless to say, the Coronavirus is now in quarantine for 14 days
                            </p>
                        </label>


                    </div>
                </form>
                <!-- <button class="btn btn-primary" (click)="createContact()">Create contact</button> -->

                <button type="button" class="btn btn-primary btn-lg btn-block" (click)="continue()">You cannot [ F ]
                    with Chuck Norris</button>
                <button type="button" class="btn btn-secondary btn-lg btn-block mt-4 mb-5" (click)="no()">[ F ] Chuck Norris
                    ¯\_(ツ)_/¯</button>
            </div>
        </div>
    </div>
</div>