<div class="jumbotron pb-0" style="background-color: #fff; ">
  <h1 class="mt-5">Vibe Check</h1>
</div>

<div class="container mb-5">

  <div class="row align-items-center mb-4">

    <div class="col mx-auto align-self-center text-center">
      <img class="img-thumbnail img-fluid " style="max-width: 30%;  height: auto;" src="assets/DL.jpg" alt="DL">
    </div>
  </div>
  <div class="row">

    <div class="col ">
      <div>
        <form>
          <div class="form-group">


            <label class="h4" for="description">Are you over the age of 18?</label>


          </div>
        </form>
        <!-- <button class="btn btn-primary" (click)="createContact()">Create contact</button> -->

        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="continue()">Yes</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block mt-4 mb-5" (click)="no()">No</button>
      </div>
    </div>
  </div>
</div>

<!-- 
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Angular Bootstrap Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-list">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-create">Create</a>
        </li>
  
      </ul>
    </div>
  </nav> -->